.--lista-integrantes {
	display: block;
	height: inherit;
	min-height: 40px;
	padding-bottom: 4px;
}

.integrante {
	border-radius: 5px;
	background-color: #6de069;
	color: #ffffff;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	letter-spacing: -0.2px;
	line-height: 30px;
	margin-top: 4px;
	padding: 0px 10px;
}

.integrante-adiciona {
	border: none;
	color: #af9acf;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	height: 30px;
	padding-left: 5px;
}

.ui-helper-hidden-accessible {
	display: none;
}

.glyphicon-remove {
    color: #ffffff;
    font-size: 13px;
    margin-left: 10px;
	text-decoration: none;
}

.glyphicon-remove:hover {
	color: #ffffff;
	cursor: pointer
	text-decoration: none;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
	background-color: #ffffff;
	border: 2px solid #af9acf;
	border-radius: 4px;
	color: #af9acf !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px !important;
	font-weight: bold !important;
	padding: 5px !important;
	width: 300px !important;
}

.ui-menu-item {	
	padding: 4px !important; 
}

.ui-menu-item:hover {
	background-color: #eee7f7 !important;
	border-radius: 4px 7px;
	cursor: pointer;
}

