#adiciona-time {
	position: absolute;
	top: 7em;
	width: 100%;
	height: 50%;
	margin-top: 2em;
}

#adiciona-time legend {
	font-size: 2em;
	color: #ecf0f1;
	margin: 0 auto;
	width: 60%;
}

#adiciona-time form {
	display: block;
	width: 60%;
	margin: 2% auto;
}

#adiciona-time #time {
	padding: 0.5em;
	width: 97%;
	display: block;
	font-size: 1.2em;
}

#adiciona-time #cadastrar{
	width: 20%;
	float : right;
	display: block;
	height: 2.5em;
	font-size: 1em;
	border: 0.1em solid #34495e;
	border-radius: 0.2em;
	margin-top: 2%;
	background-color: #16a085;
	color: #ecf0f1;
}
