#menu .comentario {
	box-sizing: border-box;
	border: 4px double black;
	background-color: white;
	position: relative;
}

#menu .comentario span {
	position: absolute;
	width: 100%;
	top: 35%;
	text-align: center;
}

.comentario:not(.draggable) {
	width: 25%;
	height: 10%;
	position: absolute;
	font: bold 0.75em Arial;
	z-index: 10;
}

.comentario:not(.draggable) .conteudo {
	word-wrap: break-word;
	padding: 2%;
}

.comentario:not(.draggable) textarea {
	width: 100%;
	height: 100%;
	margin: 1%;
	border: 3px double black;
}

.comentario:not(.semConteudo) {
	border: 1px solid black;
}