.postIt:not(.draggable) {
	width: 8%;
	height: 15%;
	box-shadow: 2px 2px 5px rgba(33,33,33,.7);
	position: absolute;
	font: bold 0.75em Arial;
	z-index: 10;
}

.postIt:not(.draggable) .conteudo {
	word-wrap: break-word;
	padding: 8%;
}

.postIt:not(.draggable) textarea {
	width: 85%;
	height: 85%;
	margin: 5%;
}

.corFCF0AD {
	background-color: #FCF0AD;
}

.corE9E74A {
	background-color: #E9E74A;
}

.corD0E17D {
	background-color: #D0E17D;
}

.cor56C4E8 {
	background-color: #56C4E8;
}

.corCDDD73 {
	background-color: #CDDD73;
}

.cor99C7BC {
	background-color: #99C7BC;
}

.corF9D6AC {
	background-color: #F9D6AC;
}

.corBAB7A9 {
	background-color: #BAB7A9;
}