.campo-cor {
	height: 2em;
}

.comentario {
	word-wrap: break-word;
	padding: 0.3em;
}

.postIt {
	width: 8%;
	min-height: 15%;
	border-radius: 2px;
	box-shadow: 2px 2px 5px #888;
	position: absolute;
	font: bold 0.75em Arial;
}

.novoPostIt {
	width: 6em;
	height: 4em;
	display: block;
	margin: 0.5em;
}

input[name="cor"] {
	display: none;
}
.opcao-cor, input[name="cor"] + label {
	width: 7em;
	height: 7em;
	margin-left: 1em;
	display: inline-block;
}

input[name="cor"]:checked + label {
	border: 3px solid rgba(0,0,0,0.3);
	box-sizing: border-box;
}

.corFCF0AD {
	background-color: #FCF0AD;
}

.corE9E74A {
	background-color: #E9E74A;
}

.corD0E17D {
	background-color: #D0E17D;
}

.cor56C4E8 {
	background-color: #56C4E8;
}

.corCDDD73 {
	background-color: #CDDD73;
}

.cor99C7BC {
	background-color: #99C7BC;
}

.corF9D6AC {
	background-color: #F9D6AC;
}

.corBAB7A9 {
	background-color: #BAB7A9;
}

.corFFFFFF {
	background-color: #FFFFFF;
}