.cadastro-foto {
	display: flex;
	margin-right: 20px;
	margin-bottom: 20px;
}

.cadastro-dados {
	float: left;
	width: 85%;
}

.cadastro-botao {
	background-color: #6de069;
}

.cadastro-foto_imagem {
	border: solid 1px #e4d9f4;
 	border-radius: 5px;
	height: 100px;
	margin-right: 20px;
	width: 80px;
}

.cadastro-foto_campo {
	display: none;
}

.cadastro-foto_descricao {
	border: solid 1px #9f53ed;
	border-radius: 5px;
	color: #9f53ed;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	letter-spacing: -0.1px;
	padding-bottom: 7px;
	padding-top: 8px;	
	width: 120px;
	text-align: center;
}

.cadastro-foto_descricao:hover {
	background-color: #9f53ed;
	color: #ffffff;
}

.cadastro-foto_descricao:hover {
	cursor: pointer;
}

@media (max-width: 1400px){
	.cadastro-dados {
		width: 87%;
	}
}

@media (max-width: 1010px){
	.cadastro-dados {
		width: 81%;
	}
}