.cadastro-foto {
	float: left;
	width: 82px;
	margin-right: 20px;
}

.cadastro-dados {
	float: left;
	width: 85%;
}

.cadastro-botao {
	background-color: #6de069;
}

.cadastro-foto_imagem {
	border: solid 1px #e4d9f4;
 	border-radius: 5px;
 	display: block;
	height: 100px;
	width: 100%;
}

.cadastro-foto_campo {
	display: none;
}

.cadastro-foto_descricao {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: -0.1px;
	color: #826c98;
}

.cadastro-foto_descricao:hover {
	cursor: pointer;
}

@media (max-width: 1400px){
	.cadastro-dados {
		width: 87%;
	}
}

@media (max-width: 1010px){
	.cadastro-dados {
		width: 81%;
	}
}