#usuario {
	width: 25%;
	border: 0.2em solid black;
	border-radius: 0.4em;
	margin: 5% auto;
}

#usuario img {
	width: 40%;
	margin: 5% auto;
	display: block;
}

#usuario form {
}

#usuario input {
	width: 70%;
	margin: 0 auto;
	display: block;
	height: 2.5em;
	font-size: 1em;
	border-style: solid;
	border-color: rgba(0,0,0,0.5);
	padding: 0% 5%; 
}

#usuario #nome {
	border-bottom: 0em;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

#usuario #senha {
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
}

#usuario input[type="submit"] {
	margin-top: 2%;
	width: 80%;
	border-radius: 0.3em;
	background-color: #faae8a;
}

#usuario a {
	text-decoration: none;
	border: 0.1em solid rgba(0,0,0,0.5);
	width: 30%;
	text-align: center;
	border-radius: 1em;
	padding: 0.1em;
	color: rgba(0,0,0,0.8);
	font-size: 1em;
	display: block;
	margin-top: 2%;
	margin-left: 10%;
}

#usuario span[id$="errors"] {
	color: #CF000F;
	display: block;
	margin: 2% auto;
	width: 80%;
	text-align: center;
}