.login {
	background-color: #fdfcff;
	border: solid 1px #e4d9f4;
	border-radius: 5px;
	left: 50%;
	padding-top: 61px;
	padding-bottom: 52px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
}

.login-titulo {
	color: #9f53ed;
	display: block;
	font-size: 73px;
	font-family: 'Open Sans', sans-serif;
	height: 55.3px;
	margin: 0 auto 60px;
	width: 250px;
}

.login-usuario {
	display: block;
	margin: 0 auto;
	width: 350px;
}

.login-usuario_dado {
	background-color: #fdfcff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #e4d9f4;
	color: #d7caeb;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	height: 33px;
	letter-spacing: -0.3px;
	line-height: normal;
	margin-bottom: 40px;
	padding: 5px 0;
	text-align: left;
	width: 100%;
}

.login-usuario_dado::placeholder {
	color: #d7caeb;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}

.login-usuario_botao {
	background-color: #ff6885;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	height: 60px;	
	letter-spacing: -0.4px;
	margin-top: 10px;
	width: 350px;
}

.login-usuario_acao {
	color: #c0c0c0;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
  	letter-spacing: -0.2px;
	margin: 15px auto;
	text-align: center;	
	width: 100%;
}

.login-usuario_acao .--link,
.login-usuario_acao .--link:visited {
	color: #9b9b9b;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}


.login-usuario_error {
	color: #D91E18;
	display: block;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 3px;
}