.cadastro {
	margin-top: 30px;
}

.cadastro-descricao {
	color: #d7caeb;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	letter-spacing: -0.2px;
	margin-bottom: 7px;
}

.cadastro-erro {
	color: #F64747;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;	
	margin-left: 3px;
}

.cadastro-campo {
	background-color: #ffffff;
	border: solid 1px #e4d9f4;
	border-radius: 5px;
	color: #af9acf;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 40px;
	letter-spacing: -0.2px;
	margin-bottom: 20px;
	padding-left: 10px;
	width: 100%;	
}

.cadastro-campo::placeholder {
	color: #d7caeb;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.cadastro-botao {
	background-color: #ffb647;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	letter-spacing: -0.4px;
	margin-top: 20px;
	width: 250px;
}
.cadastro-botao:hover {
	cursor: pointer;
}

.--retrospectiva {
	background-color: #68e1ff;
}

.--data {
	display: inline-block;
	margin-right: 40px;
	margin-top: 13px;
	width: 200px;
}

.--data .cadastro-campo {
	margin-top: 7px;
}