.corpo {
	display: block;
	margin-left: 180px;
	margin-right: 180px;
	background-color: #fdfcff;
}

.corpo-sucesso {
	color: #6de069;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	letter-spacing: -0.3px;
}

.corpo-descricao {
	color: #826c98;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	letter-spacing: -0.3px;
}