.rodape {
	background-color: #fdfcff;
	bottom:0;
	height: 60px;
	position:absolute;
	width: 100%;
}

.rodape-titulo {
	border-top: 2px solid #efe7f8;
	color: #eee7f7;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
 	height: 20.3px;
	line-height: 51px;
	margin-left: 140px;
	margin-right: 140px;
}

.rodape-home {
	color: #eee7f7;
	text-decoration: none;
}