html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}

.rodape {
	background-color: transparent;
	bottom:0;
	display: block;
	height: 60px;
	position: absolute;
	width: 100%;
}

.rodape-conteudo {
	border-top: 2px solid rgba(0,0,0, 0.06);
	color: #eee7f7;
	display: block;
 	height: 60px;
	margin-left: 140px;
	margin-right: 140px;	
}

.rodape-home {
 	height: 60px;
	text-decoration: none;
}

.rodape-home_logo {
	color: #eee7f7;
	height: 29px;
	object-fit: contain;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.linguagem {
	position: absolute;
	right: 140px;
	top: 50%;
	transform: translateY(-50%);
}

@media ( max-width: 1200px) {
	.rodape-conteudo {
		margin-left: 90px;
		margin-right: 90px;
	}
	
	.linguagem {
		right: 90px;
	}
}

@media ( max-width: 1080px) {
	.rodape-conteudo {
		margin-left: 45px;
		margin-right: 45px;
	}
	
	.linguagem {
		right: 45px;
	}
}