#novo {
	position: fixed;
	right: 3%;
	bottom: 3%;
	z-index: 100;
}

#novo:not(:hover) > .link-novo {
	display: none;
}

#novo:hover > .link-novo {
	display: block;
}

#novo div {
	float: right;
	clear: both;
	margin-top: 0.1em;
	cursor: pointer;
	margin-top: -0.2em;
}

#novo-sinal{
	text-decoration: none;
	width: 1em;
	font-size: 3em;
	text-align: center;
	border-radius: 100%;
	color: #ecf0f1;
	background-color: #16a085;
}

.link-novo {
	width: 14em;
	background-color: #16a085;
	color: #ecf0f1;
	padding: 5% 0;
	font-size: 1em;
	box-sizing: border-box;
	text-align: center;
	margin-right: 1.4em;
} 

.link-novo:FIRST-CHILD {
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}
.link-novo:not(:last-of-type) {
	border-bottom: 1px solid;
}
	
.link-novo:last-of-type {
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
}