#container  {  	
	height: 3em;
	text-align: center;
	display: block;
} 

#container ul, #container p {
	display: inline-block;
	font-size: 1.5em;
}

#container p, #container ul li a {
	margin-top: 0.5em;
	color: white;
}

.head {
	background: #87CEFA;  
} 

li{
	float:left;
	display: inline-block;
	margin: 0.5em 1em 0.5em 1em;
	vertical-align: center;
} 


#container + *{
	clear:left;
}

#logout{
	float:right;
	font-size: 20px;
}