#container  {  	
	margin: 0 auto;  	
	background: #800020;  
	padding-bottom: 2.5%;
} 

li{
	float:left;
	display: inline-block;
	margin: 0.5em 1em 0.5em 1em;
	vertical-align: center;
} 

a{
	font-size: 20px;
	color: #ffffff;
}

#container + *{
	clear:left;
}

#logout{
	float:right;
	font-size: 20px;
}