.cabecalho {
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 100%;
}

.cabecalho-home {
 	height: 60px;
	margin-left: 140px;
	position: relative;
	text-decoration: none;
	width: 251px;
}

.cabecalho-home_logo {
	color: #9f53ed;
	height: 35px;
	object-fit: contain;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cabecalho-usuario {
	line-height: 60px; 
	margin-right: 140px;
}

.cabecalho-usuario_nome,
.cabecalho-usuario_sair {
	display: inline-block;
	line-height: 60px;	
}

.cabecalho-usuario_nome {	
	color: #ab68f0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	letter-spacing: -0.2px;
	margin-right: 10px;
	text-align: left;
	text-decoration: none;
}

.logout {
	background-color: #ffffff;
	border: solid 1px #9f53ed;
	border-radius: 5px;
	color: #ab68f0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	height: 30px;
	letter-spacing: -0.2px;
	line-height: 0px;
	width: 60px;
}

.logout:hover {
	background-color: #ab68f0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	color: #ffffff;
}

@media ( max-width: 1200px) {
	.cabecalho-home {
		margin-left: 90px;
	}
	.cabecalho-usuario {
		margin-right: 90px;
	}
}

@media ( max-width: 1080px) {
	.cabecalho-home {
		margin-left: 45px;
	}
	.cabecalho-usuario {
		margin-right: 45px;
	}
}