#filtro-retrospectivas {
	background-color: #d35400;
	width: 100%;
	height: 3em;
	position: fixed;
	top: 5em;
	text-align: center;
}

#filtro-retrospectivas h2,
#filtro-retrospectivas label {
	display: inline-block;
	width: 15%;
	color: #ecf0f1;
	font-size: 1.5em;
	margin-top: 0.5em; 
}

#tipos {
    text-align: center;
	background-color: #c0392b;
	width: 100%;
	height: 3em;
	position: fixed;
	top: 8em;
}

#tipos label {
	display: inline-block;
	width: 12%;
	color: #ecf0f1;
	font-size: 1.5em;
	margin-top: 0.5em; 
}

.retrospectiva-img {
	width: 20em;
	display: block;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.retros{
	padding-right: 1.5em;
}

.retroHeader {
	background: #b365c3;
}

.hideme {
	display: none;
}

 .tipos {
    color: white;
    display: inline-block;
    font-size: 1.5em;
	margin-top: 1em;       
}