img {
	width: 20em;
	display: block;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.retros{
	padding-right: 1.5em;
}

.retroHeader {
	background: #b365c3;
}

.hideme {
	display: none;
}

#tipos{
    text-align: center;
    display: block;
    height: 2em;
}

 .tipos {
    color: white;
    display: inline-block;
    font-size: 1.5em;
	margin-top: 1em;       
}