.linguagem {
	background-color: transparent;
	border: none;
	color: #d2c5df;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 26px;
	letter-spacing: 0.4px;
}

.linguagem-opcao {
	background-color: #f9f5fd;
	color: #b5a0ca;
	font-family: 'OpenSans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.4px;
	padding: 5px;
	width: 150px;
}