#menu .comentario {
	box-sizing: border-box;
	border: 4px double black;
	background-color: white;
	position: relative;
}

#menu .comentario span {
	position: absolute;
	width: 100%;
	top: 35%;
	text-align: center;
}

.comentario {
	z-index: 20;
}

.comentario:not(.draggable) {
	position: absolute;
	font: bold 0.75em Arial;
	background-color: #FFF;
}

.comentario:not(.draggable) .conteudo {
	word-wrap: break-word;
	padding: 1.5em 0.5em 0.5em 0.5em;
}

.comentario:not(.draggable) textarea {
	width: 100%;
	height: 100%;
	border: 3px double black;
	box-sizing: border-box;
	font-size: 120%;
}

.comentario:not(.semConteudo) {
	border: 1px solid black;
}

.comentario .remover {
	right: 0.1em;
	top: 0.3em;
}