#formLousa {
	display: block;
	width: 35%;
	margin: 0 auto;
}

#formLousa #nomeRetrospectiva {
	width: 98%;
	display: block;
	margin-top: 1em;
	padding-left: 0.5em;
}

#formLousa #dataFim {
	width: 35%;
	float: left;
	margin-top: 1em;
	padding-left: 0.5em;
}

input[name="lousa.id"] {
	display: none;
}

img {
	width: 100%;
	margin: 1em auto;
	display: block;
}

#time {
	float: right;
	width: 60%;	
	margin-top: 1em;
}

#idLousa {
	margin-top: 1em;
	width: 100%;
}

#botao {
	width: 100%;
}