.time {
	display: block;
	height: 90px;
	padding-top: 5px;
	width: 100%;
}

.home-voltar {
	color: #ffffff;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: -0.1px;
	margin-bottom: 9px;
	margin-left: 180px;
	margin-top: 5px;
}

.home-voltar:hover {
	color: #f9f5fd;
	text-decoration: none;
}

.time-nome {
	color: #ffffff;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: bold;
	height: 49px;
	line-height: 49px;
	margin-left: 180px;
}

.time-editar {
	font-size: 26px;
}
.time-editar:after {
	background: url("../../images/iconeEngrenagem.png") no-repeat;
	background-size: 25px;
	content: '';
    display: inline-block;
	height: 25px;
    margin-left: 10px;
	width: 25px;
}

.time-editar:hover {
	cursor: pointer;
	text-decoration: none;
}

.infos {
	display: flex;
	justify-content: space-between;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 25px;	
}

.infos-time_dado {	
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: -0.2px;
	margin-right: 20px;
}

.infos-time_dado .--numero {
	font-weight: bold;
}

.infos-time_integrante,
.infos-retrospectiva_nova {	
	border-radius: 5px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: -0.2px;
	padding: 5px 10px;
}

.infos-time_integrante:hover,
.infos-retrospectiva_nova:hover {	
	cursor: pointer;
	text-decoration: none;
}


.infos-time_integrante {
	border: 1px solid #4bdd46;
	color: #4bdd46;
}

.infos-time_integrante:hover {
	background-color: #4bdd46;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	color: #ffffff;
}

.infos-lista_fotos {
	display: inline-block;
    height: 100%;
	margin-right: 15px;
    vertical-align: top;
}

.infos-lista_fotos .--foto {
	border: solid 1px #ff6885;
	border-radius: 30px;
 	height: 30px;
	margin-left: -6px;
	margin-right: -6px;
	width: 30px;
}

.infos-lista_fotos .--foto-tooltip { 
	background: #333; 
	color: #fff;
	position: relative; 
}

.infos-lista_fotos .--foto:hover .--foto-tooltip {
	display: block;
}

.infos-retrospectiva {
	display: block;	
}

.infos-retrospectiva_nova {
	border: 1px solid #30c3e7;
	color: #30c3e7;
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

.infos-retrospectiva_nova:hover {
	background-color: #30c3e7;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	color: #ffffff;
}

.infos-retrospectiva_disposicao.--minimized,
.infos-retrospectiva_disposicao.--maximized {
	color: #d1cad9;
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}

.infos-retrospectiva_disposicao.--minimized {
	font-size: 30px;
	margin-right: 3px;
}

.infos-retrospectiva_disposicao.--maximized {
	font-size: 35px;	
}

.infos-retrospectiva_disposicao.--minimized:hover,
.infos-retrospectiva_disposicao.--maximized:hover {
	cursor: pointer;
	text-decoration: none;
}

.infos-retrospectiva_disposicao[data-selected] {
	color:#ab9dbc; 
}

.lista-retrospectivas {
	display: block;
	margin: 0 auto;
}

.lista-retrospectivas.--maximized {
	width: 1080px;
}

.retrospectiva {	
	border: 1px solid #d8d8d8;
	display: inline-block;
}


.--minimized .retrospectiva {
  	height: 260px;
	width: 455px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	
}

.--maximized .retrospectiva {
	display: block;
	height: 540px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 1080px;
}

.retrospectiva-imagem {
	width: 100%;
	height: 100%;
}

@media (max-width : 1780px) {
	
	.lista-retrospectivas.--minimized .retrospectiva {
		height: 223px;
    	width: 354px;
	}

}

@media ( max-width: 1485px) {

	.lista-retrospectivas.--minimized .retrospectiva {
		height: 250px;
    	width: 404px;
	}
	
	.lista-retrospectivas.--maximized,
	.lista-retrospectivas.--maximized .retrospectiva {
		width: 800px;
		height: 450px;
	}	
}

@media ( max-width: 1265px) {
	.time-nome {
		margin-left: 140px;
	}
}

@media ( max-width: 1200px) {
	.time-nome {
		margin-left: 100px;
	}
}

@media ( max-width: 1080px) {
	.time-nome {
		margin-left: 60px;
	}
}

@media ( max-width: 1000px) {
	.infos-time_dado,
	.infos-retrospectiva .infos-retrospectiva_disposicao {
		display: none;
	}
	
	.infos-retrospectiva_nova {
		margin-right: 0;
	}
	
	.lista-retrospectivas.--minimized .retrospectiva,
	.lista-retrospectivas.--maximized .retrospectiva {
		width: 595px;
		height: 350px;
		margin-left: 0;
		margin-right: 0;
	}
}