html {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

#lousa {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

#lousa #atividade {
	width: 90%;
	height: 99%;
	display: inline-block;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
}

#menu {
	width: 9%;
	height: 99%;
	display: inline-block;
	background-color: #67809F;
	z-index: 100;
}

#logoMenu {
	width: 55%;
	height: 9.7vh;
	display: block;
	margin: 0.5em auto;
}

#logoMenu img {
	display: block;
}

.draggable {
	width: 7.7vw;
	height: 9.7vh;
	display: block;
	margin: 0.5em;
	box-shadow: 4px 4px 5px rgba(33,33,33,.7);
}

.remover {
	position: absolute;
	width: 1em;
	font-size: 1em;
	right: 0.1em;
	top: 0.4em;
}

.remover:after {
	content: 'X';
	position: absolute;
	color: #CF000F;
}

.editar {
	position: absolute;
	width: 2em;
	font-size: 1em;
	right: 2.5em;
	top: 0.4em;
}

.editar:after {
	content: 'Editar';
	position: absolute;
	color: #663399;
}

input[type="submit"] {
	position: absolute;
	z-index: 200;
}