html {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

#lousa {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

#lousa img {
	width: 90%;
	height: 99%;
	display: inline-block;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
}

#menu {
	width: 9%;
	height: 99%;
	display: inline-block;
	background-color: #67809F;
	z-index: 100;
}

.draggable {
	width: 7.7vw;
	height: 9.7vh;
	display: block;
	margin: 0.5em;
	box-shadow: 4px 4px 5px rgba(33,33,33,.7);
}

.remover {
	position: absolute;
	width: 4%;
}

.remover:after {
	content: 'X';
	position: absolute;
	color: #CF000F;
}

input[type="submit"] {
	position: absolute;
	z-index: 200;
}