.postIt {
	z-index: 10;
}

.postIt:not(.draggable) {
	width: 10%;
	min-height: 18%;
	box-shadow: 2px 2px 5px rgba(33,33,33,.7);
	position: absolute;
	font: bold 0.75em Arial;
}

.postIt:not(.draggable) .conteudo {
	word-wrap: break-word;
	padding: 5%;
}

.postIt:not(.draggable) textarea {
	width: 85%;
	height: 10em;
	margin: 5%;
	font-size: 120%;
}

.postIt .default {
	color: #9f53ed;
	width: 2.2em;
	height: 1.1em;
	display: inline-flex;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0.4em 0em 0em 0.6em;
	text-decoration: none;
}

.postIt .like:after {
	background: url("../../images/like.png") no-repeat;
    background-size: 1.1em 1.1em;
    content: '';
    height: 1.1em;
    margin-left: 3px;
    width: 1.1em;
}
.postIt .dislike:after{
	background: url("../../images/dislike.png") no-repeat;
    background-size: 1.1em 1.1em;
    content: '';
    height: 1.1em;
    margin-left: 3px;
    width: 1.1em;
}

.postIt .dotVotes {
	margin: 0em 0.3em 0.3em 0.3em;
}

.postIt .dotVotes .dotVote {
	background-image: url("../../images/star.png");
	display: inline-block;
	width: 0.7em;
	height: 0.7em;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 0.25em;
}

.corFCF0AD {
	background-color: #FCF0AD;
}

.corE9E74A {
	background-color: #E9E74A;
}

.corD0E17D {
	background-color: #D0E17D;
}

.cor56C4E8 {
	background-color: #56C4E8;
}

.corCDDD73 {
	background-color: #CDDD73;
}

.cor99C7BC {
	background-color: #99C7BC;
}

.corF9D6AC {
	background-color: #F9D6AC;
}

.corBAB7A9 {
	background-color: #BAB7A9;
}